@import 'variables.scss';

.toggler {
  position: fixed;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem 0 0 0.5rem;
  background-color: transparent;
  z-index: 100;

  @include md {
    width: 5rem;
    height: 100vh;
    padding: 1rem 0 0 1rem;
  }

  .icon svg {
    width: 3rem;
    height: auto;

    path {
      fill: $color-2;
    }

    &:hover path {
      fill: $color-3;

      @include sm {
        fill: $color-1;
      }
    }
  }
}
  
.Menu {
  flex: 0 0 5rem;
  width: 5rem;
  z-index: 50;
  background-color: $color-3;

  .overlay {
    position: fixed;
    left: -2000px;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-2;
    z-index: 10;
    opacity: 0;
    transition: all 0.75s;
  }

  nav {
    width: 100%;
    height: 100%;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include landscape {
      padding: 2% 0;
    }

    a {
      flex-basis: 100%;
      width: 50%;
      height: 2rem;
      padding: 1rem;
      display: flex; 
      align-items: center;
      line-height: 1;
      border-bottom: 1px solid transparentize($color-3, 0.9);
      font-size: 2rem;
      font-weight: 700;
      font-family: $font-2;
      color: $color-3;
      text-align: left;

      &:last-of-type {
        border-bottom: 0;
      }
      &:hover {
        color: $color-1;
      }
    }
  }
  .show {
    display: flex;
  }
  .hide {
    display: none;
  }
}

.menuAnimationIn {
  animation: menuAnimationIn .5s ease-out forwards;
}

@keyframes menuAnimationIn {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.menuAnimationOut {
  animation: menuAnimationOut .5s ease-out forwards;
}

@keyframes menuAnimationOut {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 1;
  }
}
