@import 'variables.scss';

/* Basic settings */

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:blank, :empty {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 300;
  background-color: white;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
a {
  color: $color-2;
  text-decoration: none;

  &:hover {
    color: $color-1;
  }
}
button {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  background: transparent;
  outline: transparent;
  cursor: pointer;
}
.icon svg path {
  fill: $color-2;
}

/* Layout */

.Main {
    position: relative;
    flex-basis: 100%;
    left: 0;
    width: 100%;
    z-index: 0;

    @include md {
      flex: 0 0 calc(100% - 5rem);
      left: 5rem;
      width: calc(100% - 5rem);
    }

  /* Section Layout */
  
  .Main__section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

    @include sm {
      flex-direction: row;
      height: 100vh;
    }
    @for $i from 1 through length($screen-bg-colors) {
      &:nth-of-type(#{$i}) {
        background-color: nth($screen-bg-colors, $i)
      }
    }
    &#screen-1 {
      animation: slit-in-horizontal 0.75s;
    }

    .Main__content {
      position: relative;
      flex: 0 0 100%;
      height: 100vh;
      width: 100%;
      min-height: 100vh;
      padding: 0 2rem 0 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;
      overflow-y: auto;

      @include sm {
        flex: 0 0 50%;
        width: 50%;
        padding: 0 2rem 0 5rem;
        overflow: hidden;
      }

      &.bg-darken {
        background-color: rgba(0, 68, 255, 0.3);
      }

      &.long {
        flex-direction: row;
        padding-right: 1rem;
        padding-top: 5rem;

        .col {
          flex: 0 0 50%;
          width: 50%;
        }  
        @include md {
          align-self: stretch;
          padding: 10% 5rem 0 4rem;
        }

        ul {
          list-style-type: none;
          margin-bottom: 2rem;        
        }
      }
    }

    .Main__content--filled {
      flex-basis: 100%;
      width: 100%;
      height: 100vh;
      max-height: 100vh;
      max-width: 100%;

      @include sm {
        flex: 0 0 50%;
        width: 50%;
      }
      img.filling {
        position: relative;
        display: block;
        object-fit: cover;
        object-position: center center; 

        @include portrait {
          width: auto;
          height: 100%;
          }

        @include landscape {
          width: 100%;
          height: auto;
        }
      }
    }

    a {
      color: $color-3;

      &:hover {
        color: $color-1;
      }
    }
    
    h1 {
      margin: 0 0 1rem 0;
      font-size: 3rem;
      font-weight: 900;
      color: $color-2; 

      @include md {
        margin: 1rem 0;
        font-size: 5rem;
      }  
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      color: darken($color-3, 7%); 
      margin: 1.5rem 0 1rem 0;

      &:first-of-type {
        margin-top: 0;
      }
    }
    p, 
    ul {
      font-size: 1.5rem;
      color: darken($color-3, 7%);
      font-weight: 300;
      margin: 0 0 1rem;
      padding: 0;
      line-height: 1.4;
    }
    .smm {
      position: relative;
      bottom: -6px;
      white-space: nowrap;

      a:hover .icon svg path {
        fill: $color-3;
      }
    }
    span.smm {
      display: inline-block;
      margin-right: 0.5rem;
    }
    div.smm {
      position: absolute;
      bottom: 2rem;

      svg {
        min-width: 1.75rem;
        min-height: 1.75rem;
      }
    }
    ul {
      list-style-type: none;

      &.contact li {
        font-size: 1.125rem;

        a {
          color: darken($color-2, 7%);

          &:hover {
            color: $color-1;
          }
        }

        .icon {
          display: inline-block;
          vertical-align: bottom;
          width: 1.75rem;

          svg {
          position: relative;
            min-height: 1.5rem;
          }

          &.b1 svg {
            bottom: -2px;
          }
          &.b2 svg {
            bottom: -5px;
          }
          &.b3 svg {
            bottom: -6px;
          }
        }  
      }
    }
    .tagline {
      position: relative;
      display: inline-block;
      font-weight: 400;
      font-style: italic;
      font-family: 'Baskervville', Georgia, 'Times New Roman', Times, serif;

      &::before {
        content: '';
        position: relative;
        left: 0;
        display: inline-block;
        width: 6rem;
        height: 8px;
        margin-right: 0.5rem;
        background-color: $color-2;
        }
    }
    button.arrow {
      display: none;

      @include sm-portrait {
        display: block;

      }
      @include sm {
        margin: 1rem 0 0 0;
        left: -0.75rem;
      }
      @include md {
        display: block;
      }

      .icon {

        svg {
          width: 4rem;
          height: auto;
          animation: arrow 1.5s ease-in-out 1s infinite forwards;

          path {
            fill: $color-2;
            width: 4rem;
            height: auto;
          }
        }
      }
    }
  }
}

@keyframes arrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
/* Section Animations inspired with http://animista.net */

.slit-in-vertical {
  animation: slit-in-vertical 0.75s ease-out 1 forwards;
}

@keyframes slit-in-vertical {
  0% {
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  14% {
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateY(0);
  }
}

.slit-in-horizontal {
  opacity: 0;
  animation: slit-in-horizontal 0.75s ease-out 1 forwards;
}

@keyframes slit-in-horizontal {
  0% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  24% {
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scale-in-right {
  animation: scale-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes scale-in-right {
  0% {
    transform: scale(0);
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 50%;
    opacity: 1;
  }
}

.slide-in-bck-right {
  animation: slide-in-bck-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes slide-in-bck-right {
  0% {
    transform: translateZ(800px) translateX(400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

/*   -----   */

.initially-hidden {
  opacity: 0;
}


