$red: #F64746;
$orange: #F9690E;
$blue: #22A7F0;
$violet: #9B59B6;
$teal: #03C9A9;
$black: #23252E;
$white: #fff;

$color-1: $red;
$color-2: $black;
$color-3: $white;

$screen-bg-colors: $red, $blue, $orange, $violet, $teal;

$font-2: 'Montserrat', Arial, Helvetica, sans-serif;
$font-1: 'Source Sans Pro', Arial, Helvetica, sans-serif;

/* Breakpoints */

$small: 768px; 
$medium: 992px; 
$large: 1200px;

@mixin sm { @media (min-width: #{$small}) {@content;} } // 768-991px
@mixin md { @media (min-width: #{$medium}) {@content;} } // 992-1199px
@mixin lg { @media (min-width: #{$medium}) {@content;} } // 1200+ px

@mixin portrait { @media (orientation: portrait) {@content;} } 
@mixin landscape { @media (orientation: landscape) {@content;} } 

@mixin sm-landscape { @media (min-width: #{$small}) and (orientation: landscape) {@content;} } // 768-991px
@mixin sm-portrait { @media (min-width: #{$small}) and (orientation: portrait) {@content;} } // 768-991px






